.App {
  text-align: center;
}

.bathtub {
  margin: 30px;
  height: 100px;
  padding: 2px;
  border: 3px solid black;
  width: 150px;
}

.blue-div {
  height: 20px;
  width: 150px;
  background-color: blue;
  color: blue;
}
